html, body, #map {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #1a1a1a; /* Dark base */
  font-family: sans-serif;
}

.leaflet-control-layers {
  background-color: rgba(30, 30, 30, 0.9);
  color: #fff;
  border: 1px solid #444;
}

.leaflet-control-layers label {
  color: #ddd;
}
